{
  "plugins": [
    ["prismjs", {
        "languages": [
          "javascript",
          "html",
          "bash",
          "scss",
          "json",
          "yaml",
          "ruby",
          "crystal"
        ],
        "plugins": ["line-numbers", "copy-to-clipboard"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}
