{
  "plugins": [
    ["prismjs", {
        "languages": [
          "markup",
          "css",
          "clike",
          "javascript",
          "markup-templating",
          "html",
          "ruby",
          "crystal",
          "erb",
          "haml",
          "bash",
          "python",
          "scss",
          "json",
          "yaml"
        ],
        "plugins": ["line-numbers", "copy-to-clipboard"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}
